@charset "UTF-8";
/* CSS Document */

body{
    	font-family :
    	YuGothic,    /* Mac用 */
    	'Yu Gothic', /* Windows用 */
    	sans-serif;
		line-height:1.2em;
    }
	
.wp {
    box-shadow: 0px 0px 10px 2px #f6f6f6;
    margin: 0 auto;
    width: 260px;
    padding: 20px;
    text-align: center;
    border: 1px solid #eeeeee;
}

h1 {
    color: #364e96;
    border: solid 3px #364e96;
    padding: 10px 45px;
    border-radius: 0.5em;
    font-size: 20px;
}

.dropdown{
	width:172px;
	font-size: 14px;
	}
	
.text, textarea, .dropdown{
	border: 1px solid #eeeeee;
	padding:4px 10px;
	olor:#ffffff;
	backgroungd-color:#eeeeee;
	border-radius: 0.5em;
	box-shadow: 0px 0px 10px 2px #f6f6f6;
	}
.submit {
    border: 1px solid #eeeeee;
    padding: 4px 10px;
    olor: #ffffff;
    backgroungd-color: #bfbfbf;
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px 2px #f6f6f6;
    margin-top: 12px;
    width: 220px;
    padding: 5px;
    font-size: 13px;
}
	
.textarea{
	width:200px;
	}